
body{
    background-color: #08161e;
    color: antiquewhite;
}

.nav-text {
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    
}

.img-content {
    background: url(../hacker.svg) no-repeat center center;
    background-size: 100%;
    width: 369px;
    height: 320px;
}